.dashboard-nav {
  padding: 0.4em;
  text-align: center;
}
.dashboard-nav > .col-sm-12 {
  background-color: #eee;
  font-size: 2em;
  margin: 0.3em;
  padding: 0.2em;
}
.dashboard-nav > .col-sm-12:hover {
  background-color: #ddd;
}
.dashboard-nav > .dashboard-nav-active:hover, .dashboard-nav > .dashboard-nav-active {
  background-color: #212121;
  color: #fff;
}

.profile-list-view, .service-list-view {
  display: table;
}
.profile-list-view > *, .service-list-view > * {
  display: table-cell;
  padding: 0.5em;
}
.profile-list-view > h2, .service-list-view > h2 {
  border-right: 1px solid #ddd;
  min-width: 13em;
}
.profile-list-view, .profile-form-view, .service-list-view, .service-form-view {
  border: 1px solid #ddd;
  margin: 1em auto;
  padding: 1em;
  width: 80%;
}
.profile-selector {
  height: 2.5em;
  width: 18em;
  font-size: 125%;
  margin: 1em auto;
}

.service-info > h4 {
  margin-bottom: -0.5em;
}
.service-info > dl > dt {
  font-weight: 700;
}
.service-info > dl > dd {
  margin-left: 0px;
}
.service-info > dl > dt::after {
  content: ":"
}
.service-info-required > h4 {
  color: #F00;
}
.service-info-optional > h4 {
  color: #777;
}

.dashboard-body > label {
  display: block;
  margin: auto;
}
.search-results, .categories {
  margin: 1em;
}