.dashboard-nav {
  padding: 0.4em;
  text-align: center;
}
.dashboard-nav > .col-sm-12 {
  background-color: #eee;
  font-size: 2em;
  margin: 0.3em;
  padding: 0.2em;
}
.dashboard-nav > .col-sm-12:hover {
  background-color: #ddd;
}
.dashboard-nav > .dashboard-nav-active:hover, .dashboard-nav > .dashboard-nav-active {
  background-color: #212121;
  color: #fff;
}

.profile-list-view, .service-list-view {
  display: table;
}
.profile-list-view > *, .service-list-view > * {
  display: table-cell;
  padding: 0.5em;
}
.profile-list-view > h2, .service-list-view > h2 {
  border-right: 1px solid #ddd;
  min-width: 13em;
}
.profile-list-view, .profile-form-view, .service-list-view, .service-form-view {
  border: 1px solid #ddd;
  margin: 1em auto;
  padding: 1em;
  width: 80%;
}
.profile-selector {
  height: 2.5em;
  width: 18em;
  font-size: 125%;
  margin: 1em auto;
}

.service-info > h4 {
  margin-bottom: -0.5em;
}
.service-info > dl > dt {
  font-weight: 700;
}
.service-info > dl > dd {
  margin-left: 0px;
}
.service-info > dl > dt::after {
  content: ":"
}
.service-info-required > h4 {
  color: #F00;
}
.service-info-optional > h4 {
  color: #777;
}

.dashboard-body > label {
  display: block;
  margin: auto;
}
.search-results, .categories {
  margin: 1em;
}
.search-results > span, .categories > span {
  margin: 0.2em;
}
.search-results > span {
  color: #777;
  font-size: 90%;
}

.nav, .nav-sub {
    padding: 1em;
    background-color: #f7f7f7;
    margin: auto;
    border: 1px solid #f0f0f0;
}
.nav > .link-lg, .nav-sub > .link-lg {
    margin: 1em;
}
.nav {
    width: 75%;
}
.nav-sub {
    width: 60%;
    margin-top: 1em;
}

table.requested-info, table.requested-data {
  margin: auto;
}
.service-key {
    display: block;
    margin-top: -0.8em;
    margin-bottom: 0.5em;
}