body {
  margin: 0;
  display: flex;
  min-height: 100vh;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  flex-direction: column;
}

main#content {
  flex: 1;
  padding-bottom: 1em;
}

ol {
  width: 12em;
  margin: 2em auto;
}

footer {
  padding: 0.2em;

  > a {
    display: inline-block;
    margin: 0em 0.5em;
  }
}

a {
  color: $md-primary-color;
  text-decoration: none;
  cursor: pointer;

  &:hover {
    color: $md-secondary-color;
  }
}

.g-recaptcha {
  display: inline-block;
}

.recaptcha-wrapper {
  text-align: center;
  margin-top: 1em;
}

nav.navbar-sub {
  background-color: $md-primary-color;
  margin-bottom: 1em;
  padding: 0.25em 0em;
  display: flex;
  margin: 0em 1em;

  > a {
    color: white;
    flex: 1;

    &:hover {
      color: $lgray;
    }
  }
}

.flex {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
