/* MISC */
* {
	line-height: 142%;
	font-family: "Source Sans Pro",Calibri,Candara,sans-serif;
	text-align: center;
}
hr {
	border: 0;
    height: 1px;
	margin: 2em;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}
ol {
	width: 12em;
	margin: 2em auto;
}

/* FOOTER */
footer {
	
	background-color: $llgray;
	position: fixed;
	left: 0%;
	right: 0%;
	bottom: 0%;
	padding: 0.2em;

	a {
		margin: 0.5em;
	}

}

/* HEADER */
header {

	nav {
		
		position: fixed;
		top: 0%;
		left: 0%;
		right: 0%;
		background-color: $llgray;
		padding: 0.5em;
		z-index: 2;

		a {
			margin: 0.5em;
		}

		.logo {
		
			font-size: 125%;
			position: fixed;
			margin: 0em;
			left: 5%;

			.xyfir {
				font-weight: 700;
				color: $lblack;
			}
			
			.accounts {
				color: $blue;
			}

		}

	}

}

/* ALERTS */
.alert {
	display: block;
	margin: 2em auto;
	padding: 0.5em;
	width: 80%;
	color: #fff;
}
.alert-info {
	background-color: $lllgray;
	color: $black;
}
.alert-success {
	background-color: $lblue;
}
.alert-error {
	background-color: $red;
}
.alert-warning {
	background-color: $orange;
}

/* PROGRESS BAR */
.progress-bar {
	display: block;
	position: relative;
	width: 100%;
	height: auto;
	margin: .625rem 0;
	background: #eeeeee;
	overflow: hidden;
	border: 1px solid #ddd;
}
.progress-bar-completed {
	position: relative;
	display: block;
	float: left;
	width: 0;
	background-color: $lblue;
	z-index: 1;
	text-align: center;
	height: .625rem;
	line-height: .625rem;
	color: #ffffff;
}


/* LINKS */
a {
	color: $blue;
	text-decoration: none;
	cursor: pointer;
}
a:hover {
	color: $lblue;
}
a:focus {
	color: $lblack;
}
.link-lg {
	font-size: 125%;
}
.link-sm {
	font-size: 80%;
}

/* BUTTONS */
input[type=submit], button, .btn {
	height: 3.142em;
	min-width: 7em;
	color:#fff;
	padding: 5px 10px;
	border: 0;
	text-transform: uppercase;
	border-radius: 0.15em;
	margin-left: 0.5em;
	margin-right: 0.5em;
}
.btn-sm {
	height: 2.142em;
	min-width: 5em;
}
.btn-lg {
	font-size: 140%;
}
.btn-primary {
	background-color: $blue;
}
.btn-primary:hover {
	background-color: $lblue; 
}
.btn-secondary {
	background-color: $gray;
}
.btn-secondary:hover {
	background-color: $lgray;
}
.btn-danger {
	background-color: $red;
}
.btn-danger:hover {
	background-color: $lred;
}
input[type=submit]:focus, button:focus {
	background-color: $lblack;
}

/* FORMS */
input[type=text], input[type=password], input[type=email], input[type=number], input[type=tel] {
	height: 1.571em;
}
input[type=text], input[type=password], input[type=email], input[type=tel] {
	width: 16em;
}
input[type=text]:focus, input[type=password]:focus, input[type=email]:focus, input[type=number]:focus, input[type=tel]:focus, textarea:focus, select:focus {
	border-color: $gray;
	outline: none;
}
input[type=text], input[type=password], input[type=email], input[type=number], input[type=tel], textarea, select {
	padding: 4px 8px;
	color: $lblack;
	border: 1px solid $lgray;
	background-color: rgba(255,255,255,.8);
	display: block;
	margin: 1em auto;
}
input[type=text].input-error, input[type=password].input-error, input[type=email].input-error, input[type=number].input-error, input[type=tel].input-error, input[type=search].input-error, textarea.input-error {
	border-color: $red;
}
p.input-error, span.error {
	color: $red;
}
textarea {
	width: 20em;
	height: 7em;
}
label {
	display: block;
	font-weight: bold;
}
.input-description {
    font-size: 90%;
    color: $dgray;
    display: block;
    width: 80%;
    margin: auto;
} 

#content {
	width: 80%;
	margin: auto;
	padding: 2em;
}

.g-recaptcha {
	display: inline-block;
}

.recaptcha-wrapper {
	text-align: center;
}

.home-for-users p, .home-for-devs p {
	margin-top: -1em;
}