.dashboard-user > div.security {
  > div.tfa {
    padding-bottom: 0.1em;

    > div.otp > section.md-tabs-container {
      width: 100%;
    }
  }
}

.selected-access-token {
  .md-text-field-container {
    width: 100%;
  }

  dl {
    margin: 0em;

    dt {
      font-weight: bold;
    }

    dd {
      margin: 0em;
    }
  }
}

nav.login-links {
  margin-top: 1em;
}
