nav.dashboard-nav {
    
    padding: 0.4em;
    text-align: center;
    background-color: $llgray;
    border: solid 0.1em $lgray;

    a {
        font-size: 1.5em;
        margin: 0.3em;
        padding: 0.2em;
        cursor: pointer;
    }

    a:hover {
        color: $blue;
        background-color: $lgray;
    }

    a.active, a.active:hover {
        background-color: $lblack;
        color: white;
    }

}

.dashboard-body {

    h2 {
        margin-bottom: -0.5em;
    }

    label {
        display: block;
        margin: auto;
    }

}

.dashboard-security {

    section {
        border-bottom: solid $llgray 0.2em;
        padding-bottom: 1em;
    }

}

.dashboard-profiles, .dashboard-services {

    .profile-form-view, .service-form-view {

        position: relative;

        h2.profile-name {
            border-bottom: solid 0.1em $llgray;
            margin-bottom: 1em;
        }

        .icon-close {
            position: absolute;
            right: 2%;
            top: 2%;
        }

    }

}

.profile-list-view, .profile-form-view, .service-list-view, .service-form-view {
    border: 1px solid #ddd;
    margin: 1em auto;
    padding: 0.5em;
    width: 80%;
}

div.link-service.service-form-view {
    border: none;
}

.service-form-view {

    section.service-info {
        
        padding: 1em 0em;
        border-bottom: solid 0.2em $llgray;
        border-top: solid 0.2em $llgray;


        .required, .optional {

            .title {
                font-weight: bold;
            }

            dl {
                
                margin: 0em;

                dt {
                    margin-right: 0.5em;
                }
                dt, dd {
                    display: inline;
                }
                dt::after {
                    content: ":"
                }
                dd {
                    margin-left: 0em;
                }

            }

        }

    }

    section.update-service, section.link-service {

        button {
            margin: 1em;
        }

    }

}

.dashboard-tokens {

    .token {

        margin: 1em;
        padding: 1em;
        background-color: $llgray;

        dl {
            
            margin: 0em;

            dt {
                font-weight: bold;
            }

            dd {
                margin: 0em;
            }

        }

        button {
            margin-top: 1em;
        }

    }

}

nav.nav-bar {
    
    padding: 1em;
    background-color: $lllgray;
    margin: 1em auto;
    border: 0.1em solid $llgray;
    width: 75%;

    a {
        margin: 1em;
        font-size: 110%;
    }

}

.modal {

    position: fixed;
    background-color: white;
    top: 15%;
    left: 15%;
    right: 15%;
    bottom: 15%;
    overflow-y: auto;
    z-index: 1;
    border: solid 0.1em $llgray;
    padding: 1em;
    box-shadow: 0.1em 0.1em 0.3em $black;

    .icon-close {
        position: absolute;
        right: 2%;
        top: 2%;
    }

}

.profile-list-view, .service-list-view {
    display: table;
}
.profile-list-view > *, .service-list-view > * {
    display: table-cell;
    padding: 0.5em;
}
.profile-list-view > h2, .service-list-view > h2 {
    border-right: 1px solid #ddd;
    min-width: 13em;
}
.profile-selector {
    height: 2.5em;
    width: 18em;
    font-size: 125%;
    margin: 1em auto;
}

.search-results, .categories {
  margin: 1em;
}
.search-results > span, .categories > span {
  margin: 0.2em;
}
.search-results > span {
  color: #777;
  font-size: 90%;
}

.nav, .nav-sub {
    padding: 1em;
    background-color: #f7f7f7;
    margin: auto;
    border: 1px solid #f0f0f0;
}
.nav > .link-lg, .nav-sub > .link-lg {
    margin: 1em;
}
.nav {
    width: 75%;
}
.nav-sub {
    width: 60%;
    margin-top: 1em;
}

.service-view {
    
    input.service-key {
        display: inline;
    }

    ol {
        margin: auto;
    }

}
table.requested-info, table.requested-data {
  margin: auto;
}