<!DOCTYPE html>
<html>
    <head>
        <title>Xyfir Accounts</title>
        
        <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700" rel="stylesheet" type="text/css">
        <link rel="stylesheet" type="text/css" href="../static/css/style.css">
        <link rel="stylesheet" href="../static/fontello/css/fontello.css">

        <link rel="stylesheet" href="../static/css/sweetalert.css">
        <script src="../static/js/sweetalert.min.js"></script>

        <!-- Icons -->
        <link rel="apple-touch-icon" sizes="57x57" href="https://xyfir.com/static/icons/apple-touch-icon-57x57.png">
        <link rel="apple-touch-icon" sizes="60x60" href="https://xyfir.com/static/icons/apple-touch-icon-60x60.png">
        <link rel="apple-touch-icon" sizes="72x72" href="https://xyfir.com/static/icons/apple-touch-icon-72x72.png">
        <link rel="apple-touch-icon" sizes="76x76" href="https://xyfir.com/static/icons/apple-touch-icon-76x76.png">
        <link rel="apple-touch-icon" sizes="114x114" href="https://xyfir.com/static/icons/apple-touch-icon-114x114.png">
        <link rel="apple-touch-icon" sizes="120x120" href="https://xyfir.com/static/icons/apple-touch-icon-120x120.png">
        <link rel="apple-touch-icon" sizes="144x144" href="https://xyfir.com/static/icons/apple-touch-icon-144x144.png">
        <link rel="apple-touch-icon" sizes="152x152" href="https://xyfir.com/static/icons/apple-touch-icon-152x152.png">
        <link rel="apple-touch-icon" sizes="180x180" href="https://xyfir.com/static/icons/apple-touch-icon-180x180.png">
        <link rel="icon" type="image/png" sizes="192x192"  href="https://xyfir.com/static/icons/android-chrome-192x192.png">
        <link rel="icon" type="image/png" sizes="32x32" href="https://xyfir.com/static/icons/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="96x96" href="https://xyfir.com/static/icons/favicon-96x96.png">
        <link rel="icon" type="image/png" sizes="16x16" href="https://xyfir.com/static/icons/favicon-16x16.png">
        <link rel="manifest" href="https://xyfir.com/static/icons/manifest.json">
        <meta name="msapplication-TileColor" content="#0078d7">
        <meta name="msapplication-TileImage" content="static/icons/mstile-144x144.png">
        <meta name="theme-color" content="#0078d7">
    </head>
  
    <body>
        <header>
            <nav>
                <a class="logo" href="#">
                    <span class="xyfir">XYFIR</span>
                    <span class="accounts">ACCOUNTS</span>
                </a>
                <div class="links">
                    <a href="#/dashboard/user" class="link-lg">Dashboard</a>
                    <a href="#/dashboard/affiliate" class="link-lg">Affiliate</a>
                    <a href="#/dashboard/developer" class="link-lg">Developer</a>
                </div>
            </nav>
        </header>
        
        <div id="content"></div>
        
        <footer>
            <a href="https://xyfir.com/#/network">Xyfir Network</a>
            <a href="https://xyfir.com/#/contact">Contact Us</a>
            <a href="https://xyfir.com/#/documentation/xyfir-accounts/privacy">Privacy</a>
            <a href="https://xyfir.com/#/documentation/xyfir-accounts/tos">Terms of Service</a>
            <a href="https://xyfir.com/#/about">About Us</a>
            <a href="https://ads.xyfir.com/">Advertise</a>
        </footer>

        <script src="../static/js/App.js"></script>
    </body>
</html>