extends layout

block content
	div.col-sm-12.col-md-6
		a.btn-primary.btn-lg(href="login") Login
	div.col-sm-12.col-md-6
		a.btn-primary.btn-lg(href="register") Register
	hr
	div.col-sm-12.col-md-6
		h3 Control Your Data
		p See and control exactly what information each service needs and will access when linking to your Xyfir Account.
	div.col-sm-12.col-md-6
		h3 Easy Login
		p A couple clicks to authorize a login with a service is all that's needed if you're already logged into your Xyfir Account. No typing!
	div.col-sm-12.col-md-6
		h3 Profiles
		p Create multiple profiles with different information for use with linking to different services.
	div.col-sm-12.col-md-6
		h3 Ad Profile
		p Control what information is shared across the Xyfir Network and utilized to provide relevant ads for you.
	div.col-sm-12.col-md-6
		h3 One Account, Multiple Sites
		p Create one account and access the entire Xyfir Network. Also available are any third party sites that allow login with Xyfir Accounts.
	div.col-sm-12.col-md-6
		h3 Manage Linked Services
		p Modify your data for, see what data is being accessed by, and remove services that are linked to your Xyfir Account.
	div.col-sm-12.col-md-6
		h3 Security
		p We offer SMS 2-Factor-Authentication, random security codes, IP whitelisting, and more to keep your account secure.
	div.col-sm-12.col-md-6
		h3 Passwordless Login
		p Simply enable passwordless login, request an authorization link, and click the link sent to you via SMS or email and you're logged in!