extends layout

block content
	h3.title One account for all of Xyfir.
	hr
	div.col-sm-12.col-md-6
		button.btn-primary.btn-lg Login
	div.col-sm-12.col-md-6
		button.btn-primary.btn-lg Register
	a.link-lg(href="#Features")
		Features
	hr