doctype html
html
	head
		title= title
		link(href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700' rel='stylesheet' type='text/css')
		link(rel='stylesheet' type='text/css' href='/css/style.css')
		script(src='https://fb.me/react-0.14.0.min.js')
		script(src='https://fb.me/react-dom-0.14.0.min.js')
		script(src='/js/main.js')
	body
		div#container.container
			div.logo
				span.logo-xyfir XYFIR
				span.logo-accounts ACCOUNTS
			div#content
				block content
			block react
		footer
			div.container
				div.col-sm-12
					a(href="https://xyfir.com/network") Xyfir Network
					a(href="https://xyfir.com/contact") Contact Us
					a(href="https://accounts.xyfir.com/privacy") Privacy
					a(href="https://accounts.xyfir.com/tos") Terms of Service
					a(href="https://xyfir.com/about") About Us
				span © 2015 Xyfir